@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Conference Planner</h1>
    <div class="text-left">
        <table class="table">
            <thead>
                <tr>
                    <td colspan="3" class="text-center h2">Schedule of the Day</td>
                </tr>
                <tr>
                    <th>Activity</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.Activities)
                {
                <tr>
                    <td>
                        <a asp-page="./Detail" asp-route-activityId="@activity.Id">@activity.Name</a>
                    </td>
                    <td>@activity.Duration.ToString()</td>
                    <td>@activity.Description</td>
                    <td>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-activityId="@activity.Id">Edit</a>
                        <a class="btn btn-secondary" asp-page="./Delete" asp-route-activityId="@activity.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-page="./Edit">Add Activity</a>
    </div>
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}